USE [master]
GO
/****** Object:  Database [BAOMATTHUDIENTU]    Script Date: 02-Nov-22 12:36:13 AM ******/
CREATE DATABASE [BAOMATTHUDIENTU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAOMATTHUDIENTU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BAOMATTHUDIENTU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BAOMATTHUDIENTU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BAOMATTHUDIENTU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAOMATTHUDIENTU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAOMATTHUDIENTU]
GO
/****** Object:  Table [dbo].[Mail]    Script Date: 02-Nov-22 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail](
	[Id] [int] NOT NULL,
	[Subject] [nvarchar](50) NULL,
	[Context] [nvarchar](50) NOT NULL,
	[Sender] [nvarchar](50) NOT NULL,
	[Receiver] [nvarchar](50) NOT NULL,
	[Time] [datetime] NOT NULL,
	[State] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02-Nov-22 12:36:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([Id], [Username], [Password], [Email]) VALUES (1, N'dieutrinh', N'dieutrinh123', N'dieutrinhhz@gmail.com')
INSERT [dbo].[User] ([Id], [Username], [Password], [Email]) VALUES (2, N'bichngan', N'bichngan123', N'bichngannguyenthi@gmail.com')
INSERT [dbo].[User] ([Id], [Username], [Password], [Email]) VALUES (3, N'hanho', N'hovanhan123', N'hanhan@gmail.com')
GO
USE [master]
GO
